{
	email admin@aikanpan.top
}

aikanpan.top, www.aikanpan.top {
	encode gzip

	log {
		output file /var/log/caddy/access.log {
			roll_size 100mb
			roll_keep 5
		}
		format json
	}

	handle /api/* {
		reverse_proxy 127.0.0.1:8000
	}

	handle /_next/static/* {
		reverse_proxy 127.0.0.1:3000
	}

	handle {
		reverse_proxy 127.0.0.1:3000 {
			header_down Cache-Control "no-cache, no-store, must-revalidate"
		}
	}
}
